/* ------------------Hero Section------------------ */
.hero {
    /* Flexbox */
    display: flex;
    justify-content: space-around;
    align-items: end;

    /* Box Model */
    height: auto;
    padding: 1em;
}

.hero picture {
    /* Order for Flexbox */
    order: 2;

    /* Box Model */
    max-width: 440px;
    height: auto;
}

/* ---------Text Content----------- */
.content {
    /* Box Model */
    width: 480px;
    margin-right: 1em;
    gap: 2.5em;
    z-index: 1;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    /* Text */
    text-align: left;
    align-self: end;
}

.content h1 {
    /* Typography */
    font-size: clamp(2rem, 1.2857142857142858rem + 3.571428571428571vw, 4.5rem);
}

.content p {
    /* Typography */
    line-height: 25px;
}

.clients {
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box Model */
    margin-top: 2.5em;
    gap: 1em;
}

.learn-btn {
    /* Text & Aesthetic */
    color: var(--almost-white);
    background-color: var(--almost-black);

    /* Box Model */
    padding: 1em 1.25em;
    font-size: 1rem;
    border-radius: .75em;
    border: 2px solid transparent;

    /* Behavior */
    transition: .2s ease;
}

.learn-btn:active {
    /* Text & Aesthetic */
    color: var(--almost-black);
    background-color: var(--almost-white);

    /* Box Model */
    border-color: var(--almost-black);
}

/* ----------- Mobile Screens ----------- */
@media (max-width: 768px) {
    .hero {
        /* Flexbox */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* Box Model */
        gap: 2em;
        padding: 0;
    }

    .hero picture {
        /* Order for Flexbox */
        order: 1;
    }

    .content {
        /* Flexbox */
        order: 2;
        align-items: center;

        /* Text */
        text-align: center;

        /* Box Model */
        width: 100%;
        margin: 0;
        gap: 1em;
        padding: 1em;
    }
}
